<script setup>
import { reactive, ref } from 'vue';
import { validarContacto } from '../../_validations/validarContacto/validarContacto';
import useVuelidate from '@vuelidate/core';
import emailjs from '@emailjs/browser';
import { useLoading } from 'vue-loading-overlay';
import Swal from 'sweetalert2/dist/sweetalert2.js';
import 'sweetalert2/src/sweetalert2.scss';

const form_ = ref(null);
const form = reactive({
  nombre: '',
  email: '',
  telefono: '',
  mensaje: '',
});

const rules = {
  nombre: validarContacto.nombre,
  email: validarContacto.email,
  telefono: validarContacto.telefono,
  mensaje: validarContacto.mensaje,
};
const $v = useVuelidate(rules, form);

const cleanInput = () => {
  form.nombre = '';
  form.email = '';
  form.telefono = '';
  form.mensaje = '';
};

const send_data = async () => {
  const result = await $v.value.$validate();
  if (result) {
    const $loading = useLoading();
    const loader = $loading.show({
      loader: 'dots',
      color: '#0d6efd',
      width: 100,
      height: 100,
    });
    $v.value.$reset();
    emailjs.sendForm('default_service', 'template_biz7qb7', form_.value, 'eLhsppLiNh6chQgtL').then(
      (result) => {
        Swal.fire({
          position: 'top-end',
          toast: true,
          title: '¡Enviado!',
          text: 'Correo enviado correctamente.',
          icon: 'success',
          showConfirmButton: false,
          timer: 3000,
          timerProgressBar: true,
        });
        loader.hide();
        cleanInput();
      },
      (error) => {
        Swal.fire({
          position: 'top-end',
          toast: true,
          title: 'Fallido!',
          text: 'Hubo un error intente nuevamente',
          icon: 'erro',
          showConfirmButton: false,
          timer: 3000,
          timerProgressBar: true,
        });
        loader.hide();
        cleanInput();
      }
    );
  }
};
</script>

<template>
  <div class="container card-0 justify-content-center mt-5">
    <div class="row justify-content-center round">
      <div class="col-lg-10 col-md-12">
        <div class="text-center">
          <h1 class="text-shad">Contacto</h1>
        </div>
        <div class="card shadow-lg card-1">
          <div class="card-body inner-card mt-5">
            <form id="form" ref="form_">
              <div class="row justify-content-center">
                <div class="col-lg-5 col-md-6 col-sm-12">
                  <div class="form-group mb-4">
                    <input
                      ref="nombre"
                      aria-describedby="nombre"
                      v-model="$v.nombre.$model"
                      type="text"
                      class="form-control"
                      placeholder="Nombre"
                      maxlength="30"
                      id="nombre"
                      name="nombre"
                    />
                    <small v-if="$v.nombre.$error" class="text-danger" id="nombre">
                      {{ $v.nombre.$errors[0].$message }}
                    </small>
                  </div>
                  <div class="form-group mb-4">
                    <input
                      v-model="$v.email.$model"
                      type="email"
                      class="form-control"
                      placeholder="Email"
                      id="email"
                      name="email"
                    />
                    <small v-if="$v.email.$error" class="text-danger">
                      {{ $v.email.$errors[0].$message }}
                    </small>
                  </div>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12 mb-4">
                  <div class="form-group">
                    <input
                      v-model="$v.telefono.$model"
                      type="tel"
                      class="form-control"
                      placeholder="Teléfono"
                      maxlength="15"
                      id="telefono"
                      name="telefono"
                    />
                    <small v-if="$v.telefono.$error" class="text-danger">
                      {{ $v.telefono.$errors[0].$message }}
                    </small>
                  </div>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-md-12 col-lg-10 col-12">
                  <div class="form-group text-left mb-4 mt-3">
                    <textarea
                      maxlength="255"
                      class="form-control rounded-0"
                      placeholder="Mensaje"
                      rows="5"
                      v-model="$v.mensaje.$model"
                      id="mensaje"
                      name="mensaje"
                    >
                    </textarea>
                    <small v-if="$v.mensaje.$error" class="text-danger">
                      {{ $v.mensaje.$errors[0].$message }}
                    </small>
                  </div>
                  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button @click="send_data" id="sendEmail" class="btn btn-primary" type="button">Enviar</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.text-shad {
  text-shadow: -1px 1px 3px #adadad;
}
</style>
