<script setup>
/* Import package */
import axios from 'axios';
import { ref, onMounted } from 'vue';
import { useLoading } from 'vue-loading-overlay';

/* declare const*/
const items = ref([]);
const dataTable = ref([]);
const date_pulse = ref(['']);
const date = new Date();

function sumarDias(fecha, dias){
  fecha.setDate(fecha.getDate() - dias);
  return fecha;
}

const dateActual = new Date();

const varDateActual = dateActual.getDate() + '-' + (date.getMonth() + 1) + '-' + date.getFullYear();

const date1 = sumarDias(dateActual, 1);
const varDate1 = date1.getDate() + '-' + (date1.getMonth() + 1) + '-' + date1.getFullYear();

const date2 = sumarDias(dateActual, 1);
const varDate2 = date2.getDate() + '-' + (date2.getMonth() + 1) + '-' + date2.getFullYear();

const date3 = sumarDias(dateActual, 1);
const varDate3 = date3.getDate() + '-' + (date3.getMonth() + 1) + '-' + date3.getFullYear();

const date4 = sumarDias(dateActual, 1);
const varDate4 = date4.getDate() + '-' + (date4.getMonth() + 1) + '-' + date4.getFullYear();

const date5 = sumarDias(dateActual, 1);
const varDate5 = date5.getDate() + '-' + (date5.getMonth() + 1) + '-' + date5.getFullYear();

const date6 = sumarDias(dateActual, 1);
const varDate6 = date6.getDate() + '-' + (date6.getMonth() + 1) + '-' + date6.getFullYear();



const itemsDate = [
  {
    date: varDateActual,
  },
  {
    date: varDate1,
  },
  {
    date: varDate2,
  },
  {
    date: varDate3,
  },
  {
    date: varDate4,
  },
  {
    date: varDate5,
  },
  {
    date: varDate6,
  },
];


/* Functions - Methods */
const search_result = (value) => {
  date_pulse.value = value;
  dataTable.value = [];
  const $loading = useLoading();
  const loader = $loading.show({
    loader: 'dots',
    color: '#0d6efd',
    width: 100,
    height: 100,
  });
  axios
    .get('http://api.admfox.com.ve/Animalitos.svc/IAnimalitos/ListarResultadosChance/' + value + '/' + value, {
      value,
      headers: {
        'Content-Type': 'application/json',
      },
    })
    .then(function (response) {
      items.value = response.data;
      const objRes = items.value.reduce((obj, actual) => {
        const objAdd = { [actual.tipTriple]: { triple: actual.codAnimalB, simbolo: actual.codAnimalC } };
        if (obj[actual.horaSor])
          obj[actual.horaSor] = {
            ...obj[actual.horaSor],
            ...objAdd,
          };
        else obj[actual.horaSor] = objAdd;
        return obj;
      }, {});
      dataTable.value = Object.entries(objRes);
      loader.hide();
    })
    .catch(function (err) {
      console.log('err', err);
      loader.hide();
    });
};
onMounted(() => {
  const date_ = date.getDate() + "-"+ (date.getMonth()+1)+ "-" +date.getFullYear()
  search_result(date_);
})
</script>

<template>
  <div class="container mt-3 mb-3">
    <div class="row">
      <div class="col-lg-12 d-flex justify-content-center mb-3 mt-2">
        <img src="../assets/logoChanceenlinea.png" alt="chance" width="220" />
      </div>
      <div class="text-center">
        <h2 class="text-shad">Seleccione la fecha a consultar</h2>
      </div>
      <div class="col-lg-12 d-lg-flex mt-3 mb-3">
        <div class="col-lg-8 rounded overflow-auto" style="border: 1px solid #01a8dc">
          <div class="text-white fw-bold header-resultado text-left headerColorResul text-center">
            <h5>{{ dataTable.length === 0 ? 'No hay Resultados Disponibles' : 'Resultados del día ' + date_pulse }}</h5>
          </div>
          <table class="table table-borderless text-center align-middle">
            <thead v-if="dataTable.length >0">
              <tr class="titulo">
                <th scope="col"></th>
                <th scope="col">Triple A</th>
                <th scope="col">Triple B</th>
                <th scope="col"></th>
                <th scope="col">Chance Astral</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in dataTable" :key="index">
                <td>
                  <span class="titulo">{{ item[0] }}</span>
                </td>
                <td>
                  <div class="BordeResultado">
                    <p>
                      <span v-if="item[1][1]?.triple">{{ item[1][1].triple }}</span>
                    </p>
                  </div>
                </td>
                <td>
                  <div class="BordeResultado">
                    <p>
                      <span v-if="item[1][2]?.triple">{{ item[1][2].triple }}</span>
                    </p>
                  </div>
                </td>
                <td>
                  <div class="BordeResultado">
                    <p>
                      <span class="mr-2" v-if="item[1][4]?.triple">{{ item[1][4].triple }}</span>
                    </p>
                  </div>
                </td>
                <td>
                  <div class="BordeResultado">
                    <p>
                      <span v-if="item[1][4]?.simbolo">{{ item[1][4].simbolo }}</span>
                    </p>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-lg-4 px-5">
          <div class="text-center rounded" style="border: 1px solid #01a8dc">
            <div class="text-white fw-bold header-resultado headerColorResul">
              <h5>Resultados Anteriores</h5>
            </div>
            <ul class="fw-bold mt-3">
              <li v-for="(item, index) in itemsDate" :key="index" @click="search_result(item.date)">
                {{ item.date }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
ul {
  padding-left: 0 !important;
}
li {
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color:#01a8dc
}
.header-resultado {
  height: 5vh;
}
.BordeResultado {
  border-width: 2px;
  border-style: solid;
  border-color: #01a8dc;
  border-radius: 5px;
}
.BordeResultado p {
  color: #131212;
  font-weight: bolder;
  font-size: 1.2rem;
  margin-bottom: 0.6rem !important;
}
.titulo {
  color: #01a8dc;

  font-size: large;
  font-weight: bold;
}
li:nth-child(even) {
  background: #ddd;
}
.text-shad {
  text-shadow: -1px 1px 3px #adadad;
}
.headerColorResul {
  background-color: #01a8dc;
  height: 4rem;
  padding: 15px;
}
</style>
