<script setup>
/* Import package */
import axios from 'axios';
import { ref , onMounted  } from 'vue';
import { useLoading } from 'vue-loading-overlay';



/* declare const*/
const date_pulse = ref(['']);
const dataTable = ref([]);
const date = new Date();

function sumarDias(fecha, dias){
  fecha.setDate(fecha.getDate() - dias);
  return fecha;
}

const dateActual = new Date();

const varDateActual = dateActual.getDate() + '-' + (date.getMonth() + 1) + '-' + date.getFullYear();

const date1 = sumarDias(dateActual, 1);
const varDate1 = date1.getDate() + '-' + (date1.getMonth() + 1) + '-' + date1.getFullYear();

const date2 = sumarDias(dateActual, 1);
const varDate2 = date2.getDate() + '-' + (date2.getMonth() + 1) + '-' + date2.getFullYear();

const date3 = sumarDias(dateActual, 1);
const varDate3 = date3.getDate() + '-' + (date3.getMonth() + 1) + '-' + date3.getFullYear();

const date4 = sumarDias(dateActual, 1);
const varDate4 = date4.getDate() + '-' + (date4.getMonth() + 1) + '-' + date4.getFullYear();

const date5 = sumarDias(dateActual, 1);
const varDate5 = date5.getDate() + '-' + (date5.getMonth() + 1) + '-' + date5.getFullYear();

const date6 = sumarDias(dateActual, 1);
const varDate6 = date6.getDate() + '-' + (date6.getMonth() + 1) + '-' + date6.getFullYear();





const itemsDate = [
  {
    date: varDateActual,
  },
  {
    date: varDate1,
  },
  {
    date: varDate2,
  },
  {
    date: varDate3,
  },
  {
    date: varDate4,
  },
  {
    date: varDate5,
  },
  {
    date: varDate6,
  }
];

/* Functions - Methods */
const search_result = (value) => {
  date_pulse.value = value;
  dataTable.value = [];
  const $loading = useLoading();
  const loader = $loading.show({
    loader: 'dots',
    color: '#5CB85C',
    width: 100,
    height: 100,
  });
  axios
    .get('http://api.admfox.com.ve/Animalitos.svc/IAnimalitos/ListarResultados/' + value + '/' + value, {
      value,
      headers: {
        'Content-Type': 'application/json',
      },
    })
    .then(function (response) {
      dataTable.value = response.data;
      loader.hide();
    })
    .catch(function (err) {
      console.log('err', err);
      loader.hide();
    });
};

const view_image = (codAnimal) => {
  return new URL(`../assets/Animales/${codAnimal}.png`, import.meta.url).href;
};
onMounted(() => {
  const date_ = date.getDate() + "-"+ (date.getMonth()+1)+ "-" +date.getFullYear()
  search_result(date_);
})
</script>

<template>
  <div class="container mt-3 mb-3">
    <div class="row">
      <div class="col-lg-12 d-flex justify-content-center mb-3 mt-2">
        <img src="../assets/Logo_Chanceenlinea_Animalitos.png" alt="chance" width="230" />
      </div>
      <div class="text-center">
        <h2 class="text-shad">Seleccione la fecha a consultar</h2>
      </div>
      <div class="col-lg-12 d-lg-flex mt-3 mb-3 justify-content-center">
         <div v-if="dataTable.length === 0" class="col-lg-8 text-white fw-bold  headerColorResul rounded-top header-resultado text-center">
              <h5>No hay resultados para mostrar</h5>
          </div>
        <div class="col-lg-8 col-12" v-else>
          <div v-for="(item, index) in dataTable" :key="index" class="rounded border border-light mb-3 fondo-animalito">
            <div class="text-white fw-bold  headerColorResul rounded-top header-resultado text-center">
              <h5>{{ dataTable.length === '0' ? 'No hay resultados para mostrar' : 'Resultados del día ' + item.fecSorteo }}</h5>
            </div>
            <div class="text-center img-animalitos mb-3 d-flex justify-content-center py-4">
              <div class="bg-white col-md-8">
                <h4>Animalito</h4>
                <img :src="view_image(item.codAnimalA)" alt="animalitos" width="150" class="mb-4" />
              </div>
              
            </div>
          </div>
        </div>
        <div class="col-lg-3 px-4 col-12">
          <div class="text-center rounded border border-light bg-white fijar_lista">
            <div class="text-white fw-bold  headerColorResul rounded-top header-resultado"><h5>Resultados Anteriores</h5></div>
            <ul class="fw-bold mt-2">
              <li v-for="(item, index) in itemsDate" :key="index" @click="search_result(item.date)">
                {{ item.date }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
ul {
  padding-left: 0 !important;
}
li {
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: #5cb85c
}
.header-resultado {
  height: 5vh;
}
.BordeResultado {
  border-width: 2px;
  border-style: solid;
  border-color: #5cb85c;
  border-radius: 5px;
}
.BordeResultado p {
  color: #131212;
  font-weight: bolder;
  font-size: 1.2rem;
}
.titulo {
  color: #5cb85c;

  font-size: large;
  font-weight: bold;
}
li:nth-child(even) {
  background: #ddd;
}
.img-animalitos {
  border-radius: 5px;
  color: #ec1c24;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.fondo-animalito {
  background-image: url(../assets/fondo-animales.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.text-shad {
  text-shadow: -1px 1px 3px #adadad;
}
.headerColorResul{
  background-color: #5cb85c;
  height: 4rem;
  padding: 15px;
}
.img-animalitos div {
   border: 3px solid #00621a;
}
.fijar_lista {
  position: fixed;
}
@media screen and (max-width:992px){
  .fijar_lista {
  position: initial !important;
}
}
</style>
