<script setup></script>
<template>
  <div>
    <footer class="text-center footer-style">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <img src="../assets/logoChanceBlanco.png" alt="logoBlanco" width="160" />
          </div>
          <div class="col-md-4 d-flex align-items-center">
            <h6>© 2019 Site by Chance. All rights reserved</h6>
          </div>
          <div class="col-md-4 redes-sociales">
              <a class="mr-2" target="_blank" href="https://www.facebook.com/chance.animalito.9"><img src="../assets/iconoFacebookTransp.png" alt="facebook"></a>
              <a target="_blank" href="https://twitter.com/Chanceanimalito"> <img src="../assets/iconoTwitterTransp.png" alt="twiter"></a>
              <a target="_blank" href="mailto:chanceconanimalito@gmail.com?Subject=Solicitud"><img src="../assets/iconoCorreoTransp.png" alt="correo"></a>
          </div>
        </div>
      </div>
    </footer>
  </div>
</template>
<style>
.footer-style {
  padding: 15px;
  background-color: #002a49;
}
footer {
  color: white;
  width: 100%;
  margin-top: auto;
  display: table;
}
footer h3 {
  margin-bottom: 30px;
  font-weight: 800;
}
footer .footer-above {
  padding-top: 50px;
  background-color: #2c3e50;
}
footer .footer-below {
  padding: 25px 0;
  background-color: #233140;
}
.redes-sociales a{
 margin-right: 1vh;
}
</style>
