<template>
  <div :class="$route.name === 'Resultados Animalitos' ? 'colorHeader2' : 'colorHeader'">
    <nav class="navbar navbar-expand-sm navbar-dark">
      <div class="container">
        <router-link to="/">
          <img class="logoChance" src="../assets/logoChanceenlinea.png" alt="logo_chance" />
        </router-link>
        <button
          class="navbar-toggler ms-auto"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#n_bar"
          aria-controls="navbarNavAltMarkup"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="n_bar" style="justify-content: end;">
          <ul class="navbar-nav">
            <li class="nav-item">
              <router-link to="/"
                ><span><a class="text-white fw-bold p-3 text-decoration-none" href="/">HOME</a></span></router-link
              >
            </li>
            <li class="nav-item">
              <router-link to="/contacto"
                ><span><a class="text-white fw-bold p-3 text-decoration-none" href="/">CONTACTO</a></span></router-link
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</template>

<style scoped>
.colorHeader {
  background-color: #01a8dc !important;
  border-bottom: 8px solid #ffaa00 !important;
}
.colorHeader2 {
  background-color: #5cb85c !important;
  border-bottom: 8px solid #ffaa00 !important;
}
.logoChance {
  width: 180px;
  display: flex;
  margin: 0 auto;
  height: 72px;
}
.colorHeader a {
  text-decoration: none !important;
}
.colorHeader2 a {
  text-decoration: none !important;
}
</style>
