<script>
import $ from 'jquery';
import { ref , onMounted  } from 'vue';

onMounted(() => {
   $('.carousel').carousel({
  interval: 2000
})
})





</script>


<template>
  <div id="carouselHome" class="carousel carousel-dark slide mb-3" data-bs-ride="true" data-ride="carousel">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselHome"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button type="button" data-bs-target="#carouselHome" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/banner1.png" class="d-block w-100 img-fluid-custom" alt="banner-1" height="500" />
      </div>
      <div class="carousel-item">
        <img src="../../assets/banner2.png" class="d-block w-100" alt="banner-2" height="500" />
      </div>
    </div>
  </div>
  <div class="container height-second-seccion">
    <div class="row text-center">
      <div class="col-md-12 mt-3 mb-3">
        <img src="../../assets/SeleccionaJuego.png" alt="seleccion" class="img-fluid" />
      </div>
      <div class="col-md-6 mt-3">
        <router-link to="/resultadosChance">
          <img class="img-fluid" src="../../assets/logoChanceenlinea.png" alt="chance" width="250"
        /></router-link>
      </div>
      <div class="col-md-6 mt-3">
        <router-link to="/resultadosAnimalitos">
          <img class="img-fluid" src="../../assets/Logo_Chanceenlinea_Animalitos.png" alt="animalito" width="250" />
        </router-link>
      </div>
    </div>
  </div>
</template>

<style scoped>
.height-second-seccion {
  height: 24rem;
}

@media only screen and (max-width: 768px) {
  .img-fluid-custom {
    width: 100% !important;
    height: auto !important;
  }
}
</style>
