<script setup>

import Header from "../src/components/Header.vue";
import Footer from "../src/components/Footer.vue";
// import Slider from "../src/components/Slider.vue"
</script>

<template>
  <div :class="$route.name === 'Resultados Chance' ? 'body-3' : 'body-2'">
     <Header />
  <!-- <Slider /> -->
  <!-- <router-link to="/resultadosChance">chance </router-link>
  <router-link to="/resultadosAnimalitos">animal</router-link> -->
  <router-view/>
  </div>
 
  <Footer />
</template>

<style scoped>
.body-2{
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #FFF4D2;
}
.body-3{
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

</style>
